# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Virtual environments
venv/
myenv/

# Django
db.sqlite3
*.log

# Environment
.env
.env.local

# Static files
/staticfiles/

# Node / frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
