{% extends 'main.html' %}
{% block content %}

<div class="form-container">
    <div class="form-wrapper">
        <form method="POST" action="" class="room-creation-form">
            {% csrf_token %}
            
            <!-- Form Header -->
            <div class="form-header">
                <div class="app-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z" fill="black"/>
                        <path d="M12 6C9.79 6 8 7.79 8 10C8 12.21 9.79 14 12 14C14.21 14 16 12.21 16 10C16 7.79 14.21 6 12 6ZM12 12C10.9 12 10 11.1 10 10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 11.1 13.1 12 12 12Z" fill="black"/>
                        <path d="M12 16C9.33 16 4 17.34 4 20V21H20V20C20 17.34 14.67 16 12 16Z" fill="black"/>
                    </svg>
                </div>
                <h1 class="form-title">Create New Room</h1>
                <p class="form-subtitle">Fill in the details below to create a collaborative space</p>
            </div>
            
            <!-- Form Fields -->
            <div class="form-fields">
                {% for field in form %}
                <div class="form-field-group {% if field.errors %}has-error{% endif %}">
                    <div class="field-header">
                        <label for="{{ field.id_for_label }}" class="field-label">
                            {{ field.label }}
                            {% if field.field.required %}
                            <span class="required-indicator">*</span>
                            {% endif %}
                        </label>
                        {% if field.help_text %}
                        <div class="field-help">?</div>
                        <div class="help-tooltip">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="field-input-container">
                        {{ field }}
                        {% if field.field.widget.input_type == 'select' %}
                        <div class="select-arrow">⌵</div>
                        {% endif %}
                    </div>
                    
                    {% if field.errors %}
                    <div class="field-errors">
                        {% for error in field.errors %}
                        <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% if field.field.widget.input_type == 'textarea' %}
                    <div class="character-counter" data-target="{{ field.id_for_label }}">0 / {{ field.field.max_length|default:500 }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <!-- Form Actions -->
            <div class="form-actions">
                <input type="submit" value="Create Room" class="submit-button" />
                <div class="action-hint">Press ⌘ + Enter to submit</div>
            </div>
            
            <!-- Form Footer -->
            <div class="form-footer">
                <div class="footer-hint">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1ZM8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 11.3137 11.3137 14 8 14Z" fill="#666"/>
                        <path d="M8 4C8.55228 4 9 4.44772 9 5C9 5.55228 8.55228 6 8 6C7.44772 6 7 5.55228 7 5C7 4.44772 7.44772 4 8 4Z" fill="#666"/>
                        <path d="M8 7C7.44772 7 7 7.44772 7 8V11C7 11.5523 7.44772 12 8 12C8.55228 12 9 11.5523 9 11V8C9 7.44772 8.55228 7 8 7Z" fill="#666"/>
                    </svg>
                    <span>All rooms are encrypted and private by default</span>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}